<html>
    <head>
        <title>Authors</title>
    </head>
    <body>
        <h1>Authors</h1>
        <ul>
            <% for (let i = 0; i < authors.length; i++) { %>
                <li><%= authors[i].name %></li>
            <%}%>
        </ul>
    </body>
</html>