<html>
    <head>
        <title>Books</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <main>
                <h1>Books</h1>
                <ul>
                    <% for (let i = 0; i < books.length; i++) { %>
                        <li><%= books[i].title %></li>
                    <%}%>
                </ul>
            </main>
            <%- include("partials/footer") %>
        </div>
    </body>
</html>