<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <h1>Books</h1>
        <ul>
            <% for (let i = 0; i < books.length; i++) { %>
                <li><%= books[i].title %></li>
            <%}%>
        </ul>
        <%- include("partials/footer") %>
    </body>
</html>