<html>
    <head>
        <title>Reserve <%= book.title%></title>
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <main>
                <h1>Reserve <%=book.title%></h1>
            </main>
            <%- include("partials/footer") %>
        </div>
    </body>

</html>